* {
    margin: 0;
    padding: 0;
}

.fondo {
    background: url('../../img/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.row {
  --bs-gutter-x: 0rem!important;
}

.contenedor {
    border: 2px solid white;
    background-color: hsla(0, 0%, 10%, 0.1);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
}

.titulo {
    text-align: center;
    padding: 1.5em;
}

.titulo p {
    color: white;
    font-size: 2.5em;
}

.form-icon {
    display: flex;
    justify-content: center;
    color: white;
}

.form-icon i {
    padding-right: 0.5em;
}

.form-g {
    position: relative;
}

.form-g label {
    position: absolute;
    color: white;
    transition: 0.5s all ease-in-out;
    pointer-events: none;
    left: 5%;
    font-size: 1em;
}

.form-g input {
    background: none;
    margin-bottom: 2em;
    border: none;
    border-bottom: 2px solid white;
    height: auto;
    font-size: 1em;
    color: white;
}

.form-g input:focus {
    outline: none;
    border-bottom: 2px solid red;
    background-color: none;
}

 .form-g input:focus + label,
 .form-g input:valid + label {
  font-size: 12px;
  transform: translateY(-110%);
  left: 0%;
  color: rgb(219, 77, 77);
}

.ojos{
    position: absolute;
    left: 90%;
    top: 0%;
}
.ojos i{
    cursor: pointer;
}

 .btn-acceso{
    outline: none;
    border: none;
    background-color: hsla(0, 100%, 50%, 0.1);
    backdrop-filter: blur(8px);
    color: white;
    width: 6em;
    padding: .5em;
    border-radius: 10px;
    transition: .5s all ease-in-out;
}

.btn-acceso:hover{
    background-color: hsla(0, 100%, 50%, 0.329);
    backdrop-filter: blur(8px);
    box-shadow: 0px -3px 14px 7px #ff0534;
}

